/* Pin sopra le immagini */
.card-image {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    /* margin: 0 auto 15px; */
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image .pin {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
}

.card-image .img-fluid {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.card:hover {
    cursor: pointer;
    transform: rotate(-10deg);
    opacity: 0.8;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* BG IMAGE */
.wall {
    height: 20vh;
    background-image: url(../img/wall.png);
}

.cork {
    height: 100%;
    background-image: url(../img/cork.png);
}

/* BG COLOR */
.bg-white {
    background-color: white;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}


/* CARD */
.card {
    width: calc(33.333% - 30px);
    min-width: 250px;
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    /* flex-direction: column; */
}

.card-image {
    aspect-ratio: 1 / 1;
    width: 100%;
    /* margin: 0 auto 15px; */
    /* overflow: hidden; */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    /* text-align: center; */
    font-family: 'Edu Tas Beginner', 'Sometype Mono', monospace, sans-serif;
    font-size: 14px;
    color: #000000;
}

/* FLEX */
.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.column {
    flex-direction: column;
}


.huge-title {
    font-size: 4rem;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.data {
    text-align: left;
}

.titolo {
    text-align: left;
}

.copritutto {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-chiudi {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100000001;
}

.btn-chiudi:hover {
    background-color: #f0f0f0;
}

.nascosto {
    display: none;
}

.foto-modale {
    width: 600px;
    height: 600px;
}

.foto-modale img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}